/node_modules
/vendor
/.env
/.env.*
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep
/bootstrap/cache/*
/public/hot
/public/storage
Homestead.json
Homestead.yaml
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
